@import './base.css';

/* these are necessary styles for vue flow */
@import '@vue-flow/core/dist/style.css';

/* this contains the default theme, these are optional styles */
@import '@vue-flow/core/dist/theme-default.css';

textarea { width: 100%; }

.draggable-note { cursor: grab; }
.draggable-note:active { cursor: grabbing; }

body{background-color: aliceblue}


